@import "./styles.css";
@import "./index.css";
@import "./internships.css";

@media only screen and (min-width: 600px) {
  .book,
  input {
    max-width: 50%;
    margin: 1.5em auto;
  }

  .book {
    font-size: x-large;
  }

  .booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5em;
  }

  figure {
    max-width: 30%;
    margin: 2em;
  }
}
