@import "./styles.css";
@import "./index.css";
/* unique background image with gradient color overlay, I will add this on all pages, it isn't meant as a repetition */

body {
  background-image: var(--background-gradient),
    url(/IMAGES/mavis-cw-164128-min.jpg);
}

.AI {
  background-color: var(--my-white);
}

.robot {
  max-width: 100%;
}

.evo2 {
  background-color: var(--my-memo-green);
}

.sticker {
  background-color: var(--my-memo-yellow);
}

.article4 {
  margin-bottom: 1em;
}

.bio1 {
  background-color: var(--my-red);
  color: var(--my-white);
}

.med1 div {
  background-color: var(--my-memo-yellow);
  transform: rotate(2deg);
  max-width: 80%;
}

@media only screen and (min-width: 1000px) {
  .flex-ex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }
  figure,
  .article4,
  .med1,
  .evo2,
  .bio1 {
    max-width: 40%;
  }
}
