@import "./styles.css";

/* unique background image with gradient color overlay, I will add this on all pages, it isn't meant as a repetition */

body {
  background-image: var(--background-gradient),
    url(/IMAGES/scientific-2040795_1280-min.jpg);
}

.ticket {
  text-align: center;
  font-size: smaller;
  font-weight: bold;
  background-color: var(--my-dark-blue);
  border-top-left-radius: 5%;
  border-bottom-right-radius: 5%;
  box-shadow: 0px 2px 20px;
  color: var(--my-white);
}

.article1 {
  background-color: var(--my-green);
  padding: var(--my-padding);
  color: var(--my-white);
  border-radius: var(--my-radius);
}
.VRboy {
  display: block;
  max-width: 50%;
  margin: auto;
  border-radius: 5%;
  filter: saturate(65%);
  box-shadow: var(--my-soft-shadow);
}
.article2 {
  background-color: var(--my-red);
  padding: var(--my-padding);
  color: var(--my-white);
  border-radius: var(--my-radius);
}

.teacher {
  float: right;
  max-width: 100px;
}

.article3 {
  background-color: var(--my-dark-blue);
  color: var(--my-white);
  padding: var(--my-padding);
  border-style: dashed;
  border-radius: var(--my-radius);
}

.prof {
  display: block;
  margin: auto;
  background-color: #37607e;
  padding: var(--my-padding);
  border-radius: var(--my-radius);
}

.info {
  max-width: 50%;
  margin: auto;
}
.article4 {
  background-color: var(--my-dark-blue);
  color: var(--my-white);
  padding: var(--my-padding);
  border-radius: var(--my-radius);
}

.evo {
  max-width: 100%;
  border-radius: var(--my-radius);
  box-shadow: var(--my-soft-shadow);
}

.evotext {
  background-color: var(--my-green);
  color: var(--my-white);
  padding: var(--my-padding);
  border-radius: var(--my-radius);
}

.jungle {
  max-width: 115px;
  max-height: 200px;
  float: right;
  transform: rotate(250deg);
  border-image-repeat: repeat;
  margin-top: -2em;
}

.jungle:hover {
  transform: rotate(310deg);
  transition-duration: 400ms;
  max-width: 100px;
  transition-delay: 100ms;
}

.kids {
  max-width: 100vw;
  background-image: url(/IMAGES/markus-spiske-197281-min.jpg);
  margin-top: 1em;
  padding: var(--my-padding);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--my-white);
  border-radius: var(--my-radius);
}

.kids-text {
  background-color: var(--my-red);
  padding: var(--my-padding);
  filter: contrast(100%);
  color: var(--my-white);
  border-radius: var(--my-radius);
  margin-bottom: 1em;
}

.dino {
  display: block;
  max-width: 50%;
  margin: auto;
  border: solid;
  border-radius: 100px;
}

.dino:hover {
  transition-duration: 500ms;
  transition-delay: 100ms;
  transform: rotate(45deg);
}

@media only screen and (min-width: 1000px) {
  .homegrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
  }
  .home-1 {
    grid-column: 5/8;
    grid-row: 1/2;
  }
  .home-2 {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .home-3 {
    grid-column: 9/12;
    grid-row: 1/2;
  }
  .home-4 {
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .home-5 {
    grid-column: 5/8;
    grid-row: 2/3;
  }
  .home-6 {
    grid-column: 9/12;
    grid-row: 2/3;
  }
}
