@import "./styles.css";

/* unique background image with gradient color overlay, I will add this on all pages, it isn't meant as a repetition */

body {
  background-image: var(--background-gradient),
    url(/IMAGES/scientific-2040795_1280-min.jpg);
}

.ticket {
  text-align: center;
  font-size: smaller;
  font-weight: bold;
  background-color: var(--my-dark-blue);
  border-top-left-radius: 5%;
  border-bottom-right-radius: 5%;
  box-shadow: 0px 2px 20px;
  color: var(--my-white);
}

.article1 {
  background-color: var(--my-green);
  padding: var(--my-padding);
  color: var(--my-white);
  border-radius: var(--my-radius);
}
.VRboy {
  display: block;
  max-width: 50vw;
  margin: auto;
  border-radius: 5%;
  filter: saturate(65%);
  box-shadow: var(--my-soft-shadow);
}
.article2 {
  background-color: var(--my-red);
  padding: var(--my-padding);
  color: var(--my-white);
  border-radius: var(--my-radius);
}

.teacher {
  float: right;
  max-width: 100px;
}

.article3 {
  background-color: var(--my-dark-blue);
  color: var(--my-white);
  padding: var(--my-padding);
  border-style: dashed;
  border-radius: var(--my-radius);
}

.prof {
  display: block;
  margin: auto;
  background-color: #37607e;
  padding: var(--my-padding);
  border-radius: var(--my-radius);
}

.info {
  max-width: 50%;
  margin: auto;
}
.article4 {
  background-color: var(--my-dark-blue);
  color: var(--my-white);
  padding: var(--my-padding);
  border-radius: var(--my-radius);
}

.evo {
  max-width: 100%;
  border-radius: var(--my-radius);
  box-shadow: var(--my-soft-shadow);
}

.evotext {
  background-color: var(--my-green);
  color: var(--my-white);
  padding: var(--my-padding);
  border-radius: var(--my-radius);
}

.jungle {
  max-width: 300px;
  max-height: 100px;
  float: right;
  transform: rotate(250deg);
  border-image-repeat: repeat;
}

.jungle:hover {
  transform: rotate(310deg);
  transition-duration: 200ms;
  width: 100px;
  transition-delay: 100ms;
}

.kids {
  background-size: 320px 300px;
  background-image: url(/IMAGES/markus-spiske-197281-min.jpg);
  margin-top: 1em;
  padding: var(--my-padding);
  background-repeat: no-repeat;
  color: var(--my-white);
  border-radius: var(--my-radius);
}

.kids-text {
  background-color: var(--my-red);
  padding: var(--my-padding);
  filter: contrast(100%);
  color: var(--my-white);
  border-radius: var(--my-radius);
}
