@import "./styles.css";
@import "./index.css";

/* unique background image with gradient color overlay, I will add this on all pages, it isn't meant as a repetition */

body {
  background-image: var(--background-gradient),
    url(/IMAGES/scientific-2040795_1280-min.jpg);
}

.form1 {
  background-color: var(--my-gray);
  border-radius: var(--my-radius);
}

.form1,
label,
input,
textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(-);
  padding: 1em;
}

.plain-text {
  background-color: var(--my-gray);
}

.img {
  box-shadow: var(--my-soft-shadow);
}

@media only screen and (min-width: 1000px) {
  .flex-int {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
  }
  figure {
    max-width: 25%;
    max-height: auto;
    object-fit: cover;
  }

  .flex-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form1 {
    max-width: fit-content;
    margin: auto;
    box-shadow: var(--my-soft-shadow);
  }
}
