@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&family=News+Cycle:wght@400;700&family=Spinnaker&display=swap");
h1 {
  font-family: "BioRhyme", serif, "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}
h2 {
  font-family: "News Cycle", sans-serif, Tahoma, Geneva, Verdana, sans-serif;
}
p {
  font-family: "Spinnaker", sans-serif, "Franklin Gothic Medium", "Arial Narrow",
    Arial, sans-serif;
}

:root {
  --background-light-blue: #c4dae1;
  --background-gradient: linear-gradient(
    to bottom,
    var(--background-light-blue),
    transparent
  );
  --my-green: #00ae70;
  --my-white: #fbfffc;
  --my-dark-blue: #294960;
  --my-black: #111d26;
}

body {
  background-image: var(--background-gradient);
  background-repeat: no-repeat;
}

.button {
  background-color: var(--my-green);
  color: var(--my-white);
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  margin: 3px;
}
/*header*/
header {
  background-color: var(--my-white);
  border: solid;
  border-width: 3px;
  box-shadow: 0px 3px 8px var(--my-black);
}

header li {
  text-decoration: none;
  list-style-type: none;
  font-family: "Spinnaker", sans-serif, "Franklin Gothic Medium", "Arial Narrow",
    Arial, sans-serif;
  display: inline;
  padding: 4px;
  font-size: 7px;
  font-weight: bold;
}

header ul {
  border: solid var(--my-black);
  border-radius: 5px;
  padding: 4px;
}

.nav-header {
  color: var(--my-black);
}

.header-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hamburger-menu {
  max-width: 50px;
  max-height: 50px;
  margin: 4px;
}

li:hover {
  text-shadow: 0px 5px 4px var(--my-green);
}

/*footer*/
footer {
  background-color: var(--my-dark-blue);
  color: var(--my-white);
}

li,
a {
  color: var(--my-white);
  text-decoration: none;
  list-style-type: none;
}
